<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Starbucks App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/main.css"
          th:href="@{css/main.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="viewport">
    <div class="container">
        <p>

        <h2>Starbucks Store Search App</h2>
        </p>
        <p>

        <h3>This demo application bases on</h3>
        </p>

        <p>
            <img th:src="@{img/spring-data-project-logo.png}" src="#" th:width="150" th:height="270"/>
        </p>

        <p>
            <img th:src="@{img/apache_solr.png}" src="#" th:width="150" th:height="270"/>
        </p>

        <p>
            <img th:src="@{img/thymeleaf_logo.png}" src="#" th:width="270" th:height="150"/>
        </p>
    </div>
</div>
</body>
</html>