<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Starbucks App</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css"
          href="src/main/resources/static/css/main.css"
          th:href="@{css/main.css}"/>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div class="viewport">
    <div class="container">
        <form id="searchProducts" th:action="@{names}" th:object="${name}" action="#" method="post">
            <h4>Seach By Name</h4>

            <div class="col-xs-10">
                <label for="name" class="control-label col-xs-2">Name</label>
                <input class="form-control" id="name" type="text" th:value="*{name}"
                       th:field="*{name}"/>
            </div>
            <p>

            <div class="col-xs-10">
                <button type="submit" class="btn btn-inverse btn-xs">Search
                </button>
            </div>
            </p>
        </form>
    </div>
    <div th:include="fragments/searchResult :: searchResult"></div>
</div>
</body>
</html>